.html {
  line-height: $line-height-base;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  color: $body-color;
}

.html, .body {
  min-height: 100vh;
}

.body {
  font-size: $font-size-base;
}

.app-wrapper {
  @include display-flex-mixin(flex, column, space-between, stretch);
  min-height: 100vh;
}

.main-content {
  @include flex(1, 0, auto);
}

.std-negative-margin {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.fullheight {
  height: 100%;
}
