.header {
  position: relative;
  z-index: 10;
  width: 100%;
  @include flex(0, 0, 7rem);
  background: $custom-dark-gray;
  &.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;
    height: 7rem;
  }
}
